.national-link {
  /* Background Image */
  background-image: url("/whitehouse.jpg") !important;
  background-size: cover;
  background-position: center;
  position: relative;
}

.national-link::after {
  /* Black Overlay */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 1;
}

.national-link > * {
  /* Ensure content is above the overlay */
  position: relative;
  z-index: 2;
}
